.seta {
display: flex;
width: 100%;
justify-content: center;
}

.seta img {
    width: 20px;
    height: 15px;
}

.seta-point[data-currentPlayer="1"] {
    transform: translateX(-55px); /*PT1*/
    transition: transform 200ms ease-in-out;
}

.seta-point[data-currentPlayer="2"] {
    transform: translateX(25px); /*PT1*/
    transition: transform 200ms ease-in-out;
}
