.card-front-back {
  --width: 130px;
  --height: 160px;
  width: var(--width);
  height: var(--height);
  position: relative;
  transform-style: preserve-3d;
  perspective: 280px;
  transition: transform 400ms ease-in-out;
}

.card-front-back.active {
  transform: rotateY(180deg);
}

.card-front-back > .front,
.card-front-back > .back {
  position: absolute;
  backface-visibility: hidden;
}

/* Gira o cartao de trás ao contrário */
.card-front-back > .back {
  transform: rotateY(180deg);
  background-color: var(--color-fiery-rose);
}

.card-front-back > .back > .card-game {
  background-color: var(--color-fiery-rose);
}
