.board-game {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  /* display: none; */
}

.board-game-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  perspective: 500px;
}

.board-winner {

  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  transition: all 800ms;
  /* transform: translateX(100vw); */
}

.vencedor {
  display: flex;
  visibility: visible;
  right: 0;
}